.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8em 10em;
    background: var(--text-color);
    height: 40em;
    width: auto;
    border-radius: 2em;
    color: var(--alt-text);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    margin: 2em auto;
    color: var(--alt-text);
}

.map {
    margin-left: 5em;
    border-radius: 1em;
    border: 1px var(--primary-color) solid;
    overflow: hidden;
}

.links {
    margin: 1em 0;
    color: var(--alt-text);
    justify-content: left
}