body {
    background-color: var(--primary-color);
}

.container {
    transform: translateY(-1em);
    margin: 3% 20%;
    padding: 1em;
    display: flex;
    justify-content: left;
    height: auto;
    background-color: var(--text-color);
    border-radius: 2em;
    border: 1px solid var(--text-color);
    color: var(--alt-text);
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: 0;
    color: var(--alt-text);
}

.image {
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    float: left;
    border-radius: 1.5em;
}

.form {
    margin: 0 5%;
    width: auto;
    display: flex;
    flex-direction: column;
}

.form text {
    margin-top: 1em;
    text-align: left;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form input {
    height: 1em;
    width: 20em;
    padding: 1em;
    background-color: var(--text-color);
    border: 1px solid var(--form-border);
    border-radius: 1em;
    color: var(--alt-text);
}

.verification-container {
    display: flex;
    align-items: center;
}

canvas {
    border: 1px solid var(--form-border);
    margin-left: 10px;
    padding: .32em;
    border-radius: 1em;
}