.title {
    text-align: center;
}

.lists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5em 10em;
}

@media (max-width: 1500px) {
    .lists {
        margin: 5em 5em;
    }
}

.product {
    margin: 1em;
    padding: 1em;
    border: 1px solid var(--text-color);
    border-radius: 2em;
    width: 20em;
    background-color: var(--text-color);
    color: var(--alt-text);
}

.image {
    width: 20em;
    height: 20em;
    overflow: hidden;
    object-fit: cover;
    border-radius: 1em;
}