*{
margin: 0;
padding: 0;
}
h3{
text-align: center;
margin: 10px 0;
}
#check{
width: 460px;
height: 118px;
border-width: 1px;
border-style: solid none;
border-color: #aaa;
margin:0 auto;
position: relative;
}
.icon{
display: inline-block;
width: 32px;
height: 32px;
background-image:url(../photo/故宫4.jpg);
background-size: cover;
margin: 15px 15px 10px;
}
input{
width: 200px;
height: 35px;
font-size: 16px;
position: absolute;
left: 70px;
top: 12px;
}
canvas{
position: absolute;
left: 310px;
top: 10px;
}
button{
display: block;
width: 100px;
height: 35px;
background-color: #a6d2ff;
border:none;
border-radius: 15px;
font-size: 16px;
text-align: center;
margin: 10px auto;
}
