:root {
    --text: #000;
    --bg: #e1e1e1;
    --content: #fff;
    --colscheme: light;
    --border-color: #ccc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --bg: #000;
        --content: #151515;
        --colscheme: dark;
        --border-color: #333;
    }
}

body {
    font-family: "Product Sans", sans-serif;
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label p {
    color: var(--text);
    margin: 0;
}

input {
    color: var(--text);
    margin-top: 2%;
}

h1 {
    text-align: center;
    color: var(--text);
    margin-block-start: 0;
    margin-block-end: 0;
}

form {
    background: var(--content);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--content);
    color-scheme: var(--colscheme);
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #48af77;
    color: white;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="reset"] {
    width: 100%;
    background-color: var(--content);
    border: none;
    color: #c53737;
    margin-top: 5%;
    font-size: 10px;
}

.verification-container {
    display: flex;
    align-items: center;
}

canvas {
    border: 1px solid var(--border-color);
    margin-left: 10px;
    margin-top: 2%;
    border-radius: 10px;
}

.input-margin {
    margin-top: 5%;
}