
/* type the styles below this line */
h1{
   color:blue;
   border-bottom:1px solid red;}
h2{
    color:purple;
	margin-left:100px;
	}
p{
  color:grey !important;;
  margin-left:100px;
  font-size:small;
  font-family:sans-serif;
  }
img{
	float:right;
	margin:0 12px;
  }
  h1{
  border-bottom:1px solid red;
  }
